@model MerchantBackend.Models.Tag

@{
    ViewData["Title"] = "刪除標籤 - " + Model.Name;
}

<h1>刪除標籤</h1>

<h3 class="text-danger">您確定要刪除此標籤嗎？此操作無法恢復。</h3>
<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">確認刪除</button>
        <a asp-action="Index" class="btn btn-secondary">取消</a>
    </form>
</div>